* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background-color: rgba(45, 112, 63, 0.403);
  color: rgb(64, 61, 61);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    font-size: 1.8rem;
  }

}